<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User register</title>
</head>
<body>
<input type="text" placeholder="Name">
<input type="text" placeholder="Password">
<button>Register</button>

<form action="#" th:object="${subscription}" th:action="@{/subscribeth}">

    <fieldset>

        <div>
            <label for="email" th:text="#{subscription.email}">Email: </label>
            <input type="text" th:field="*{email}" />
        </div>
        <div>
            <label th:text="#{subscription.type}">Type: </label>
            <ul>
                <li th:each="type : ${allTypes}">
                    <input type="radio" th:field="*{subscriptionType}" th:value="${type}" />
                    <label th:for="${#ids.prev('subscriptionType')}"
                           th:text="#{'subscriptionType.'+${type}}">First type</label>
                </li>
                <li th:remove="all"><input type="radio" /> <label>Second Type</label></li>
            </ul>
        </div>

        <div class="submit">
            <button type="submit" name="Register" th:text="#{subscription.submit}">Subscribe me!</button>
        </div>

    </fieldset>

</form>

</body>
</html>